* {
  box-sizing: border-box;
}

html {
  background-color: #fff;
  font-size: 62.5%;
  min-height: 100vh;
}

body {
  background-color: #fff;
  color: #222;
  font-display: swap;
  font-family: "Rubik", sans-serif;
  font-size: 2rem;
  font-variant-ligatures: none;
  font-weight: 400;
  line-height: 1.4;
  min-height: 100vh;
  padding: 2rem;
  position: relative;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

p {
  margin-bottom: 1rem;
  max-width: 50ch;
}

.card {
  --border-color: darkgrey;
  --border-radius: 0;

  background-color: lightgrey;
  border-color: var(--border-color);
  border-style: solid;
  border-width: 3px;
  border-radius: var(--border-radius);
  font-size: 2rem;
  font-weight: bold;
  max-width: 40rem;
  padding: 1rem;
}

.card[data-sauce-state="red"] {
  --border-color: red;
}

.card[data-sauce-state="blue"] {
  --border-color: blue;
}

.card[data-sauce-state="rounded"] {
  --border-color: green;
  --border-radius: 1rem;
}
